*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 128, 224);
}

.container{
    width: 800px;
    margin: 1rem auto;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.title > h1{
    font-size: 4rem;
}

.input, section{
    width: 60%;
    margin: 0 auto;
}
.input_area{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    width: 50%;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: black;
    background-color: violet;
    width: 30%;
}

.task_done{
    text-decoration: line-through;
}
li{
    margin: 10px 0;
}

i{
    margin-left: 10px;
}